# Compiled source
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
*.wsuo
# Include dlls if they’re in the NuGet packages directory
!/packages/*/lib/*.dll
# Include dlls if they're in the CommonReferences directory
!*CommonReferences/*.dll

# Directories
bin/
obj/
TestResults/

# VS cache
.vs/

# VS project upgrade files
_UpgradeReport_Files/
